@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{font-family: 'Open Sans', sans-serif;}

* {
    box-sizing: content-box;
}

.container {
    width: 100vw;
    height: 100vh;
    text-align: center;
}
